<br>
<h3 style="text-align: center"><strong>Saved News</strong></h3>
<div class="contain">
    {{#each article}}
    <br>
        <article class="card" style="width: 100%; align-content: center;">
            <div class="note" id="{{_id}}">
                <p style="text-align:center;">{{title}}</p>
                <a href="/addNoteForm/{{_id}}" class="btn btn-warning btn-large">Add Note</a>
                <a href="/deleteArticle/{{_id}}" class="btn btn-danger btn-large">Delete Article</a>
                <a href="{{link}}" class="btn btn-primary btn-large">Link</a>
            </div>

        </article>
        
    {{/each}}
</div>